@import "normalize";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.container {
  max-width: 1064px;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  background-color: #FFFFFF;
  padding: 15px 0;

  .container {
    max-width: 1064px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_lt {
    display: flex;
    justify-content: space-between;

    li {
      a {
        font-family: 'robotobold', sans-serif;
        font-size: 16px;
        line-height: 26px;
        color: #1C1B1B;
        text-decoration: none;
        margin-right: 28px;


      }
    }
  }

  .header_rt {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      a {
        margin-left: 27px;
      }
    }
  }

  .header_logo {
    position: absolute;
    top: 10px;
    left: calc(50% - 40px)
  }
}

.greeting {
  background-color: #F0EFEB;

  .container {
    padding-top: 90px;
    padding-left: 188px;
    position: relative;
  }

  h2 {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
  }

  .get_to_know {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
  }
}


.black_button {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: black;
  padding: 7px 23px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 14px;
  margin-bottom: 90px;
}

.phone_tablet {
  position: absolute;
  top: 0px;
  right: -50px;
}

.our_best_sellers {
  .container {
    padding-top: 60px;
  }

  h2 {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;

    &:last-of-type {
      margin-bottom: 52px;
    }
  }
}

.are_you_curious {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  max-width: 632px;
  margin: auto auto 47px;
}

.available_as {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-bottom: 88px;
}


.card {
  margin: auto; /*in example margin bottom 248px*/
  text-align: center;

  img {
    margin-bottom: 27px;
  }

  h3 {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    max-width: 156px;
    margin-left: 76px;
    margin-bottom: 17px;
  }

  .price {
    margin-bottom: 10px;
  }

  a {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
  }
}

.cards {
  display: flex;
  justify-content: space-between;

  .owl-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .owl-stage {
    display: flex;
    align-items: center;
  }

  .owl-dots {
    display: flex;
    justify-content: center;

    .owl-dot span {
      background-color: #21F7EC;
      width: 15px;
      height: 15px;
      border-radius: 40%;
      margin-bottom: 268px;
      margin-right: 10px;
      display: inline-block;
    }

    .active span {
      width: 20px;
      height: 20px;
      background-color: #33D3BC;
    }
  }
}

.people_society {
  background: rgba(204, 204, 204, 0.30);

  .container {
    padding-top: 76px;
    padding-bottom: 51px;
    gap: 50px;
  }
}

.people_society_container {
  max-width: 532px;

  h3 {
    margin-top: 63px;
    margin-bottom: 31px;
    color: #000;
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h4 {
    color: #000;
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }

  a {
    color: #000;
    font-size: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
  }
}

.culture_heritage {
  background: rgba(204, 204, 204, 0.60);

  .container {
    padding-top: 76px;
    padding-bottom: 51px;
    flex-direction: row-reverse;
    gap: 50px;
  }
}

.power_politics {
  background: rgba(204, 204, 204, 0.30);

  .container {
    padding-top: 76px;
    padding-bottom: 51px;
    gap: 50px;
  }
}

.some_features {
  .head_words {
    text-align: center;

    h2 {
      color: #000;
      text-align: center;
      font-size: 36px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 190px;
    }
  }

  .features_examples {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }

  img {
    padding-bottom: 26px;
  }

  .features {
    margin-bottom: 110px;
    margin-top: 69px;
    padding-right: 24px;
    text-align: center;
  }

  p {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.voices {
  background: linear-gradient(#FFFFFF 50%, #F0F0F0 50%);

  .end_words {
    h2 {
      color: #000;
      text-align: center;
      font-size: 36px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 53px;
      margin-bottom: 102px;
    }
  }

  .voices_container {
    display: flex;
    justify-content: space-between;

    img {
      margin-bottom: 35px;
    }

    h5 {
      color: #000;
      text-align: center;
      font-size: 22px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }

    p {
      color: #000;
      text-align: center;
      font-size: 19px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 44px;
    }

    a {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline;
    }

    .voices_speech {
      text-align: center;
      margin-bottom: 52px;
    }
  }
}

.keep_touch {
  .container {
    text-align: center;
    margin-top: 79px;

    h3 {
      color: #000;
      text-align: center;
      font-size: 36px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 9px;
    }

    h5 {
      color: #000;
      text-align: center;
      font-size: 17px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 26px;
    }
  }

  .central_wrapper {
    max-width: 366px;
  }

  .form_flex {
    display: flex
  }

  .margin_a {
    margin: auto;
  }

  .input_first_name {
    margin-right: 60px;
    max-width: 153px;
    margin-bottom: 18px;

    input {
      width: 100%;
      border: 1px solid #000;
      padding: 12px 11px 8px;
    }
  }

  .input_last_name {
    max-width: 153px;

    input {
      width: 100%;
      border: 1px solid #000;
      padding: 12px 11px 8px;
    }
  }

  .input_email {
    margin-bottom: 16px;

    input {
      width: 100%;
      border: 1px solid #000;
      padding: 12px 11px 8px;
    }
  }

  .subrscribe {
    text-align: center;
    margin-bottom: 88px;

    button {
      border-radius: 100px;
      border: 1px solid #000;
      background: #000;
      color: #FFF;
      text-align: center;
      font-size: 14px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 7px 23px 10px 23px;
    }
  }
}

footer {
  background: #020202;
  padding: 61px 0 16px;

  .container {
    max-width: 1064px;
    margin: auto;
  }

  .ft_wrapper {
    display: flex;
    justify-content: space-between;

    .ft_lt {
      display: flex;
      flex-direction: column;

      .ft_logo {
        margin-bottom: 45px;
      }

      .social_links {
        display: flex;
        gap: 23px;
      }
    }

    .ft_rt {
      display: flex;
      gap: 72px;
      text-align: start;
      margin-bottom: 20px;

      li {
        margin-bottom: 12px;

        a {
          text-decoration: none;
          font-family: 'robotoregular', sans-serif;
          font-size: 14px;
          line-height: 21px;
          color: #FFFFFF;
        }

        &:first-of-type {
          margin-bottom: 36px;

          a {
            line-height: 23px;
          }
        }
      }
    }
  }

  p {
    font-family: 'robotoregular', sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
  }
}
